@import "../../styles/utils/variables.scss";

.dropdown {
  position: relative;
  top: 30%;

  min-width: 500px;

  &__button {
    position: relative;

    padding: 8px 16px;
    width: 100%;

    background: none;
    border: none;

    border-bottom: 2px solid $red;
    color: $unSelectedColor;

    font-size: inherit;
    text-align: left;

    cursor: pointer;

    &::after {
      position: absolute;
      top: 50%;
      right: 16px;

      transform: translateY(-50%);

      display: block;
      content: "";

      width: 12px;
      height: 12px;

      background-image: url("../../images/dropdownAfter.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--selected {
      color: black;
    }
  }

  &__list {
    border: 2px solid $red;
    border-top: none;

    margin-top: 20px;
  }

  &__list-item {
    padding: 8px 12px;

    list-style: none;
    cursor: pointer;

    transition: color $animationDuration;

    &:hover {
      color: $red;
    }
  }
}
